<%- include("templates/header") %>
    <div class="container p-5">
        <h2> <%= lang.welcome %> <%= username %></h2>
        <p> <%= lang.loggedInAs %>
            <strong>
                <%= username %>
            </strong>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th> <%= lang.username %> </th>
                    <th> <%= lang.apiConsumption %> </th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function(user) { %>
                    <tr>
                        <td>
                            <%= user.username %>
                        </td>
                        <td>
                            <% var userConsumption = 0; %>
                                <% totalRequests.forEach(function(request) { %>
                                    <% if (request.user_id === user.user_id) { %>
                                        <% userConsumption += parseInt(request.total_request_count); %>
                                    <% } %>
                                <% }); %>
                            <%= userConsumption %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th> <%= lang.method %> </th>
                    <th> <%= lang.endpoint %></th>
                    <th> <%= lang.requests %> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% endpoints.forEach(function(endpoint) { %>
                    <td> 
                        <% endpointMethods.forEach(function(method) {%>
                            <% if (endpoint.endpoint_id === method.endpoint_id) {%>
                                <%= method.http_method_name %>
                            <% } %>
                        <% }); %>
                    </td>
                    <td>
                        <%= endpoint.endpoint_path %>
                    </td>
                    <td>
                        <% endpointMethods.forEach(function(request) {%>
                            <% if (endpoint.endpoint_id == request.endpoint_id) {%>
                                <%= endpoint.request_count %>
                            <% } %>
                        <% }); %>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <a href="/logout" class="btn btn-danger mt-3"> <%= lang.logout %> </a>
    </div>
    <%- include("templates/footer") %>