<%- include("templates/header") %>
  
<div class="container p-5">
    <h2>Welcome to the Dashboard</h2>
    <p>You are logged in as 
        <strong><%= username %></strong>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>API Requests Used</th>
                <th>API Requests Remaining</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= totalRequests %></td>
                <td class="<%= 20 - totalRequests <= 0 ? 'text-danger' : '' %>">
                    <% if (20 - totalRequests <= 0) { %>
                        API consumption overrage
                    <% } else { %>
                        <%= 20 - totalRequests %>
                    <% } %>
                </td>
            </tr>
        </tbody>
    </table>
    <% if (20 - totalRequests <= 0) { %>
        <p class="text-danger">Your API requests remaining are less than or equal to 0.</p>
    <% } %>
    <a href="/logout" class="btn btn-danger">Logout</a>
</div>

<%- include("templates/footer") %>
