<%- include("templates/header") %>
  
<div class="container p-5">
    <h2><%= lang.welcome_dashboard %></h2>
    <p>
        <%= lang.logged_in_as %>
            <strong>
                <%= username %>
            </strong>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th> <%= lang.requests_used %> </th>
                <th> <%= lang.requests_remaining %> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= totalRequests %></td>
                <td class="<%= 20 - totalRequests <= 0 ? 'text-danger' : '' %>">
                    <% if (20 - totalRequests <= 0) { %>
                        <%= lang.request_overage %>
                    <% } else { %>
                        <%= 20 - totalRequests %>
                    <% } %>
                </td>
            </tr>
        </tbody>
    </table>
    <% if (20 - totalRequests <= 0) { %>
        <p class="text-danger"> <%= lang.no_requests %> </p>
    <% } %>
    <a href="/logout" class="btn btn-danger"> <%= lang.logout %> </a>
</div>

<%- include("templates/footer") %>
