<%- include("templates/header") %>

    <div class="container">
        <h1 class="mb-3"> <%= lang.welcome_homepage %> </h1>

        <a href='/login' class="btn btn-outline-primary mb-2"> <%= lang.login %> </a> <br>
        <a href='/signup' class="btn btn-primary"> <%= lang.signup %> </a>
    </div>

<%- include("templates/footer") %>